<html>
<head>
    <title>timekeeping</title>
</head>
<body>
    <h1>timesheets for {{ username }}</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">in</th>
                <th scope="col">out</th>
                <th scope="col">time</th>
            </tr>
        </thead>
        <tbody>
            {% for t in timesheets %}
            <tr>
                <td>{{ t["time_start"] }}</td>
                <td>{{ t["time_stop"] }}</td>
                <td>{{ t["total"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>today total: {{ today_total }}</p>
    <form action="time?session_id={{ session_id }}" method="post" enctype="multipart/form-data">
        <input type="submit" value="start/stop" />
    </form>
    <p><a href="edit?session_id={{ session_id }}">edit</a></p>
</body>
</html>